<nav id="navbar" class="navbar transparent is-transparent sticky is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {% if  site.baseurl == "" %}
       {% assign url = "/" %}
    {% else %}
      {% assign url = site.baseurl %}
   {% endif %}
    <a class="navbar-item" href="{{ url }}">
      <img class="logo-top"
           src="/assets/logo-placeholder-white-320x54.png"
           srcset=""
           alt="site logo">
      <img class="logo-scrolled display-none"
           src="/assets/logo-placeholder-black-320x54.png"
           srcset=""
           alt="site logo">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% tl about %}">{% t nav.about %}</a>
      <!-- <a class="navbar-item" href="{% tl nav.departments %}">{% t nav.departments %}</a> -->
      <a class="navbar-item" href="{% tl projects %}">{% t nav.projects %}</a>
      <!-- <a class="navbar-item" href="{% tl jobs %}">{% t nav.jobs %}</a> -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
      </div>
    </div>
  </div>
</nav>
