<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script type="text/javascript">
    window.addEventListener('load', function () {
      document.querySelector('.navbar-burger').addEventListener('click', function(event) {
          event.stopPropagation();
          document.querySelector('.navbar-menu').classList.toggle('is-active');
      });
    });
    </script>
  </head>
 <body>
   {% include nav.html %}

   {{ content }}

   <footer>
     {% if site.lang == "en" %}
       {% capture link1 %}{{ site.url_root }}/el{{ page.url}}{% endcapture %}
      {% t global.change_to %} <a href="{{ link1 }}" >{% t global.greek %}</a>
    {% elsif site.lang == "el" %}
      {% capture link2 %}{{ site.url_root }}{{ page.url  }}{% endcapture %}
      {% t global.change_to %} <a href="{{ link2 }}" >{% t global.english %}</a>
    {% endif %}
     &copy; {% t company_name %}
  </footer>
  </body>
</html>
